*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
nohup.out
log/*.log

# Sublime Text artifacts
*.sublime*

# YARD artifacts
.yardoc
_yardoc
doc/

/.rvmrc
/conf/razor_server.conf
/image
/node_modules
/razor_daemon.pid
