Daniel Pittman <daniel@puppetlabs.com> <daniel@rimspace.net>
Jay Buffington <me@jaybuff.com> <jay.buffington@mylookout.com>
Nan Liu <nan@puppetlabs.com> <nan.liu@gmail.com>
Nicholas Weaver <lynxbat@gmail.com> <lynxbat@aeromachina.(none)>
Nicholas Weaver <lynxbat@gmail.com> <lynxbat@aeromachina.local>
Nicholas Weaver <lynxbat@gmail.com> <nicholas.weaver@emc.com>
Tom McSweeney <tjmcs@coastaccess.com>
Tom McSweeney <tjmcs@coastaccess.com> tjmcs <tjmcs@coastaccess.com>
Tom McSweeney <tjmcs@coastaccess.com> root <root@ubuntu-server.(none)>
James Turnbull <james@puppetlabs.com> <james@lovedthanlost.net>
Dan Bode <bodepd@puppetlabs.com> <bodepd@gmail.com>
Carl Caum <carl@puppetlabs.com> <carl@carlcaum.com>
